.page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.use-section {
    width: 80vw;
    height: 70vh;
    max-width: 1080px;
    margin-left: 24px;
}

.devices-section {
    width: 100%;
    height: 100%;
}

.buttons-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.config-modal {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 260px;
}

.error-msg {
    color: red;
    font-size: 14px;
    font-weight: bold;
}